body {
  font-family: 'Segoe UI','Open Sans', serif;
  padding-top: 54px;
  background-color: #efefef;
  /* color: #242424;  */
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 12rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', serif;
  font-weight: 700;
  /* text-transform: uppercase; */
  color: #343a40; }

.education-title {
  font-weight: 400;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem; }

.fishy {
  max-width: 12rem;
  max-height: 12rem;
}

h2 {
  font-size: 3 rem; }

.inline-logo {
  height: 1.8em;
  margin: -3px -10px auto;
}

.subheading {
  /* text-transform: uppercase; */
  /* font-weight: 300; */
  font-family: 'Open Sans', serif;
  font-size: 1.30rem; }

.list-social-icons a {
  color: #495057; }
  .list-social-icons a:hover {
    color: #A0A0A0; }
  .list-social-icons a .fa-lg {
    font-size: 1.75rem; }

.list-icons {
  font-size: 3rem; }
  .list-icons .list-inline-item i:hover {
    color: #A0A0A0; }

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  /* text-transform: uppercase; */
 }

@media (min-width: 992px) {
  #sideNav {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 100vh; }
    #sideNav .navbar-brand {
      display: flex;
      /* margin: auto auto 0; */
      padding: 0.5rem; }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2); }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }

.accent{
  color:#0082F0;
}

.timeline-block {
  padding-top: 20px;
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  /* background: #e0e0e0 */
}
  section.resume-section .resume-item .resume-date {
    min-width: none; }

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh; }
    section.resume-section .resume-item .resume-date {
      min-width: 12rem; } }

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important; } }

.bg-primary {
  background-color: #242424 !important; }

.text-primary {
  color: #242424 !important; }

a {
  color: #A0A0A0; }
  a:hover, a:focus, a:active {
    color: #824027; }



/*Timeline Styles*/

.circle {
  padding: 13px 16px;
  border-radius: 50%;
  background-color: #0082F0;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.img-fluid {
  max-width: 50% !important;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #0082F0;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #0082F0;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #0082F0;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

.education-details {
  float: left;
}

.flot-left {
  float: left
}

.margin-top50 {
    margin-top: 50px;
}

.margin-bottom50 {
    margin-bottom: 50px;
}


.icon-block i {
    font-size: 60px;
    margin: 8px 0 0;
}

.edu-icon {
  float: left;
}




.GaugeMeter {
  position: Relative;
  text-align: Center;
  overflow: Hidden;
  cursor: Default;
  display: inline-block;
}

.GaugeMeter SPAN, .GaugeMeter B {
  width: 54%;
  position: Absolute;
  text-align: Center;
  display: Inline-Block;
  color: RGBa(0,0,0,.8);
  font-weight: 100;
  font-family: "Open Sans", Arial;
  overflow: Hidden;
  white-space: NoWrap;
  text-overflow: Ellipsis;
  margin: 0 23%;
}

.GaugeMeter[data-style="Semi"] B {
  width: 80%;
  margin: 0 10%;
}

.GaugeMeter S, .GaugeMeter U {
  text-decoration: None;
  font-size: .60em;
  font-weight: 200;
  opacity: .6;
}

.GaugeMeter B {
  color: #000;
  font-weight: 200;
  opacity: .8;
}
